extends ../../../../../../../views/layouts/default.pug

block content
  .jumbotron
    h1 Applications

  div
    a(href=accountsUrl('/oauth/applications/create')) Create new application

  table.responsive-table
    thead
      tr
        th No
        th Name
        th Client ID
        th Client Secret
        th Redirect URI
        th Action
    tbody
      each app in data
        tr
          td= data.indexOf(app) + 1 + meta.offset
          td= app.name
          td= app.client_id
          td= app.client_secret
          td= app.redirect_uris
          td
            div
              a(href=accountsUrl(`/oauth/applications/${app._id}/edit`)) edit
            div
              form(id=`delete_form_${app._id}` method='POST' action=accountsUrl(`/oauth/applications/${app._id}?_method=DELETE`))
                input(name='_method' type='hidden' value='DELETE')
                a(href='javascript:{}' onclick=`document.getElementById('delete_form_${app._id}').submit(); return false;` type=submit) delete

  include ../../../../../../../views/partials/pagination.pug
